//---------------------------- Fonts -------------------------------
@font-face {
  font-family: "CeraPro";
  src: url("fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("fonts/CeraPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

//---------------------------- end Fonts -------------------------------
//---------------------------- Variables -------------------------------

:root {
  --font-family: "CeraPro", sans-serif;

  --content-width: 1290px;
  @media (max-width: 1200px) {
    --content-width: 945px;
  }
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color: #F5F6F7;
  //--gray-color: #f3f4f5;

  //Background
  --secondary-color: #5695CB;
  --primary-color: #27364B;

  //Text
  --text-color-dark: #262728;
  --text-color-light: #fff;
}

//---------------------------- end Variables -------------------------------
//---------------------------- Settings -------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-family: var(--font-family, sans-serif);
}

picture img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

//---------------------------- end Settings -------------------------------
//---------------------------- Title -------------------------------
.title {
  margin: 48px 0 16px 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    margin: 31px 0 10px 0;
    font-size: 26px;
  }
  @media (max-width: 767px) {
    font-size: 20px;
  }

  &-dark {
    color: var(--text-color-dark);
  }

  &-light {
    color: var(--text-color-light);
  }
}

//---------------------------- end Title -------------------------------
//---------------------------- Items -------------------------------
.btn {
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
