//---------------------------- Fonts -------------------------------
@font-face {
  font-family: "CeraPro";
  src: url("fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("fonts/CeraPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("fonts/Orbitron-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

//---------------------------- end Fonts -------------------------------
//---------------------------- Variables -------------------------------

:root {
  --font-family: "CeraPro", sans-serif;

  --content-width: 1290px;

  @media (max-width: 1330px) {
    --content-width: 945px;
  }
  @media (max-width: 945px) {
    --content-width: 100%;
  }
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --light-color: #F5F6F7;
  --gray-color: #A8A9AA;
  --border-color: #E4E5E6;

  //Background
  --secondary-color: #5695CB;
  --primary-color: #27364B;

  //Text
  --text-color-dark: #262728;
  --text-color-light: #fff;

  --figureClipPath: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
  );
}

//---------------------------- end Variables -------------------------------
//---------------------------- Settings -------------------------------

html {
  box-sizing: border-box;
  min-height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: white;
  font-family: var(--font-family, sans-serif);
}

picture img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

//---------------------------- end Settings -------------------------------
//---------------------------- Title -------------------------------
.main-title {
  padding: 48px 0 16px 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    padding: 31px 0 10px 0;
    font-size: 26px;
  }
  @media (max-width: 767px) {
    font-size: 20px;
  }

  &-dark {
    color: var(--text-color-dark);
  }

  &-light {
    color: var(--text-color-light);
  }
}

//---------------------------- end Title -------------------------------
//---------------------------- Items -------------------------------

//------------ Inputs ------------
.form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 14px 20px;
  width: 100%;
  background-color: transparent;
  outline: none;

  @media (max-width: 1330px) {
    font-size: 12px;
    padding: 7px 10px 6px 10px;
  }

  @media (max-width: 767px) {
    font-size: 11px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media (max-width: 1330px) {
      font-size: 12px;
    }

    @media (max-width: 767px) {
      font-size: 11px;
    }
  }
}

//------------ end Inputs ------------
//------------ Breadcrumbs ------------

.breadcrumbs {
  &__list {
    display: flex;
  }

  &__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;

    @media (max-width: 1330px) {
      font-size: 9px;
    }

    &:not(:last-child) {
      margin-right: 15px;
      position: relative;

      &:after {
        content: '»';
        position: absolute;
        right: -9px;
        top: 0;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;

    @media (max-width: 1330px) {
      font-size: 9px;
    }
  }
}

.breadcrumbs-white {
  padding: 24px 0;

  @media (max-width: 1330px) {
    padding: 17px 0 14px 0;
  }
  @media (max-width: 990px) {
    padding: 17px 0 9px 0;
  }


  .breadcrumbs__item {
    color: #FFFFFF;

    &:not(:last-child) {
      &:after {
        color: #a4abb3;
      }
    }
  }

  .breadcrumbs__link {
    color: #FFFFFF;
    opacity: 0.5;
  }
}




//------------ end Breadcrumbs ------------

.margin-top-header {
  margin-top: 120px;
  background-color: var(--light-color);

  @media (max-width: 1330px) {
    margin-top: 90px;
  }
  @media (max-width: 990px) {
    margin-top: 70px;
  }

  .breadcrumbs {
    background-color: var(--light-color);
    padding: 24px 0 25px 0;

    @media (max-width: 1330px) {
      padding: 17px 0 16px 0;
    }

    .breadcrumbs__item {
      color: var(--text-color-dark);

      &:not(:last-child) {
        &:after {
          color: var(--gray-color);
        }
      }
    }

    .breadcrumbs__link {
      color: var(--gray-color);
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.back-to-list {
  margin-top: -10px;
  padding-bottom: 21px;

  @media (max-width: 1330px) {
    padding-bottom: 14px;
  }
  @media (max-width: 990px) {
    margin-top: -13px;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;

    padding-left: 35px;
    position: relative;
    white-space: nowrap;

    @media (max-width: 1330px) {
      padding-left: 23px;
      font-size: 12px;
      letter-spacing: 0.02em;
    }
    @media (max-width: 990px) {
      padding-left: 20px;
      font-size: 11px;
    }

    .read__more {
      fill: var(--secondary-color);
      left: 0;
      transform: rotate(180deg);
      top: 20%;
    }
  }
}

.back-to-list__secondary {
  background-color: var(--light-color);

  .back-to-list__link {
    color: var(--secondary-color);
  }

  .read__more {
    fill: var(--secondary-color);
  }
}

.back-to-list__white {
  background-color: transparent;

  .back-to-list__link {
    color: #fff;
  }

  .read__more {
    fill: #fff;
  }
}

//------------ Preview ------------
.preview {
  width: 100%;
  height: 200px;
  margin-top: 120px;
  position: relative;
  z-index: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    opacity: 0.8;
    z-index: -1;
  }

  @media (max-width: 1330px) {
    margin-top: 90px;
    height: 100px;
  }
  @media (max-width: 990px) {
    margin-top: 70px;
  }

  &__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;

    @media (max-width: 1330px) {
      font-size: 26px;
      margin-top: 0;
    }

    @media (max-width: 990px) {
      font-size: 20px;
    }
  }
}

.preview-single {
  width: 100%;
  height: 400px;
  margin-top: 120px;
  position: relative;
  z-index: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    opacity: 0.8;
    z-index: -1;
  }

  @media (max-width: 1330px) {
    margin-top: 90px;
    height: 220px;
  }
  @media (max-width: 990px) {
    margin-top: 70px;
    height: 200px;
  }
}

//------------ end Preview ------------
//------------ Pagination ------------
.pagination {
  background-color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 1330px) {
    height: 30px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;

    &.active {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 3px;
        background-color: var(--secondary-color);

        @media (max-width: 1330px) {
          width: 30px;
        }
        @media (max-width: 767px) {
          width: 20px;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color-dark);
    padding: 10px;
    margin: 0 10px;

    @media (max-width: 1330px) {
      font-size: 12px;
      line-height: 100%;
      margin: 0 6px;
    }
    @media (max-width: 767px) {
      font-size: 11px;
      letter-spacing: 0.01em;
      padding: 10px 6px;
    }
  }

  &__link-arrow {
    padding: 0;
    margin: 0 30px;
    display: flex;
    align-items: center;

    @media (max-width: 1330px) {
      margin: 0 20px;
    }
  }

}

//------------ end Pagination ------------
//------------ 404 ------------
.error-404 {
  background-color: var(--light-color);
  padding-top: 48px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  @media (max-width: 1330px) {
    padding-top: 32px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__number {
    font-weight: 900;
    font-size: 86px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
    margin-bottom: 8px;

    @media (max-width: 1330px) {
      font-size: 56px;
      margin-bottom: 3px;
    }
    @media (max-width: 767px) {
      font-size: 46px;
      margin-bottom: 7px;
    }
  }

  &__description {
    p {
      white-space: nowrap;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.02em;
      color: var(--text-color-dark);

      @media (max-width: 1330px) {
        font-size: 12px;
      }
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }
  }

  &__description-link {
    white-space: nowrap;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--secondary-color);

      @media (max-width: 1330px) {
        height: 1px;
        bottom: -1px;
      }
    }

    @media (max-width: 1330px) {
      font-size: 12px;
    }
    @media (max-width: 767px) {
      font-size: 11px;
    }
  }
}

//------------ end 404 ------------
//------------ Video-modal ------------
.popup-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

.popup-video__box {
  background: var(--text-color-dark);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;

  iframe {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    width: 85%;
    height: 50%;
  }
  @media (max-width: 425px) {
    height: auto;
  }

  .popup-video__close {
    width: 45px;
    height: 45px;
    background-color: var(--text-color-dark);
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1002;
    border-radius: 50%;
    cursor: pointer;
  }

  .popup-video__close .close {
    fill: #fff;
    width: 100%;
    height: 100%;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.js-modal-video {
  display: none;
}

.js-modal-video.active {
  display: block;
}
//------------ end Video-modal ------------
//------------ Form-callback-modal ------------
.popup-callback {
  background: #fff;
  padding: 21px 30px 25px 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: fixed;
  width: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;

  @media (max-width: 1330px) {
    width: 280px;
    padding: 15px 20px 20px 25px;
  }

  @media (max-width: 525px) {
    padding: 15px 20px 20px 16px;
  }

  .popup-callback__close {
    width: 14px;
    height: 14px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1002;
    cursor: pointer;
  }

  .popup-callback__close .close {
    fill: var(--text-color-dark);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.js-modal-callback {
  display: none;
}

.js-modal-callback.active {
  display: block;
}

//------------ end Form-callback-modal ------------
//------------ Form-callback ------------
.form-callback {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-dark);
    padding-bottom: 5px;
    position: relative;

    @media (max-width: 1330px) {
      font-size: 14px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 3px;
      background-color: var(--secondary-color);

      @media (max-width: 1330px) {
        height: 1px;
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (max-width: 1330px) {
        margin-bottom: 7px;
      }
    }
  }

  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    margin-bottom: 5px;

    @media (max-width: 1330px) {
      font-size: 9px;
      margin-bottom: 1px;
    }
  }

  .form__input {
    background: var(--light-color);
    border: 1px solid #E4E5E6;
    border-radius: 3px;
    padding: 14px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--text-color-dark);

    @media (max-width: 1330px) {
      font-size: 12px;
      height: 30px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: var(--text-color-dark);
      opacity: .5;

      @media (max-width: 1330px) {
        font-size: 12px;
      }
    }
  }

  &__submit {
    margin-top: 6px;
    background: var(--secondary-color);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-weight: 900;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1330px) {
      font-size: 12px;
      height: 30px;
      margin-top: 9px;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: center;

    @media (max-width: 1330px) {
      margin-top: 10px;
    }

    .checkbox {
      display: none;
    }

    label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;

      @media (max-width: 1330px) {
        font-size: 9px;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: var(--gray-color);

        @media (max-width: 1330px) {
          font-size: 9px;
        }
      }
    }

    label::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #adb5bd;
      border-radius: 3px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (max-width: 1330px) {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }

    .checkbox:checked + label::after {
    }
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media (max-width: 1330px) {
      margin-top: 20px;
    }
    @media (max-width: 767px) {
      margin-top: 17px;
    }

    .checkbox {
      position: absolute;
      z-index: -1;
    }

    label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #fff;
      cursor: pointer;

      @media (max-width: 1330px) {
        font-size: 9px;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: var(--gray-color);

        @media (max-width: 1330px) {
          font-size: 9px;
        }
      }
    }

    label::before {
      content: "";
      display: inline-block;
      width: 37px;
      height: 20px;
      border: 1px solid #adb5bd;
      border-radius: 3px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (max-width: 1330px) {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }

    .checkbox:checked + label::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5183 0L4.64823 5.87009L2.06498 3.28684L0 5.35187L4.64823 10L12.5833 2.06498L10.5183 0Z' fill='%23262728'/%3e%3c/svg%3e ");
    }


  }

}

//Используется во всех формах ----
.checkbox.error ~ label::before {
  border: 1px solid red;
}

.form__input.error {
  border-color: red;
}

//------------ end Form-callback ------------
.no-scroll{
  overflow: hidden;
}
//---------------------------- end Items -------------------------------
