//---------------------------- People -------------------------------
.people {
  padding-top: 46px;
  padding-bottom: 22px;
  background: #fff;

  @media (max-width: 1330px) {
    padding-top: 12px;
    padding-bottom: 35px;
  }
  @media (max-width: 767px) {
    padding-top: 14px;
    padding-bottom: 16px;
  }

  &__head {
    padding-bottom: 23px;

    @media (max-width: 1330px) {
      padding-bottom: 15px;
    }
    @media (max-width: 990px) {
      padding-bottom: 6px;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #5695CB;

    @media (max-width: 1330px) {
      font-size: 20px;
    }
    @media (max-width: 990px) {
      font-size: 14px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #262728;

    @media (max-width: 1330px) {
      font-size: 12px;
    }
    @media (max-width: 990px) {
      font-size: 11px;
      line-height: 140%;
    }
  }
  &__subtitle-nowrap{
    white-space: nowrap;
  }


  &__inner {
    position: relative;

    @media(min-width: 1500px) {
      margin: 0 -90px;
    }
  }

  &__slider {
    @media(min-width: 1500px) {
      width: 100%;
    }

    .swiper-wrapper{
      height: auto;
    }

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 630px;
      height: 471px;

      @media(max-width: 1330px) {
        width: 460px;
        height: 343px;
      }
      @media(max-width: 830px) {
        width: 350px;
        height: 232px;
      }
      @media(max-width: 525px) {
        width: 200px;
        height: 150px;
      }
    }

    .swiper-slide {
      position: relative;

      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color);
        opacity: 0.8;
        transition: all .2s linear;
      }
    }

    .swiper-slide-active {
      &:after {
        opacity: 0;
      }
    }

    .swiper-slide img {
      display: block;
      width: 630px;
      height: 471px;
      object-fit: cover;

      @media(max-width: 1330px) {
        width: 460px;
        height: 343px;
      }
      @media(max-width: 830px) {
        width: 350px;
        height: 232px;
      }
      @media(max-width: 525px) {
        width: 200px;
        height: 150px;
      }
    }
  }

  &__prev {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 56px;
    fill: #fff;
    padding: 5px;
    cursor: pointer;

    @media(max-width: 1330px) {
      width: 30px;
      height: 40px;
      left: 20px;
    }
    @media(max-width: 767px) {
      width: 20px;
      height: 26px;
      left: 10px;
    }
  }

  &__next {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 56px;
    fill: #fff;
    padding: 5px;
    cursor: pointer;

    @media(max-width: 1330px) {
      width: 30px;
      height: 40px;
      right: 20px;
    }
    @media(max-width: 767px) {
      width: 20px;
      height: 26px;
      right: 10px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media (max-width: 1330px) {
      margin-top: 20px;
    }
    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: var(--secondary-color);
    opacity: 0.2;
    border-radius: 0;
    margin: 0 10px;

    @media (max-width: 1330px) {
      width: 10px;
      height: 10px;
    }
    @media (max-width: 767px) {
      width: 8px;
      height: 8px;
    }

    &-active {
      opacity: 1;
    }
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;

    @media (max-width: 1330px) {
      margin: 0 5px;
    }
    @media (max-width: 767px) {
      margin: 0 2.5px;
    }
  }

}

//---------------------------- end People -------------------------------
//---------------------------- Wording -------------------------------
.wording {
  background-color: #fff;
  padding-bottom: 52px;

  @media (max-width: 1330px) {
    padding-bottom: 34px;
  }

  &__list {
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: var(--text-color-dark);

      @media (max-width: 1330px) {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        font-size: 13px;
        line-height: 140%;
      }

      &:not(:last-child) {
        margin-bottom: 40px;

        @media (max-width: 1330px) {
          margin-bottom: 35px;
        }
        @media (max-width: 767px) {
          margin-bottom: 30px;
        }
      }
    }

  }
}

//---------------------------- end Wording -------------------------------
//---------------------------- Stages -------------------------------
.stages {
  padding-bottom: 60px;
  background-color: var(--light-color);

  @media (max-width: 1330px) {
    padding-bottom: 40px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @media (max-width: 1330px) {
      grid-gap: 20px;
    }
    @media (max-width: 990px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #43A441;

    @media (max-width: 1330px) {
      height: 293px;
    }
    @media (max-width: 525px) {
      height: 179px;
    }
  }

  &__image {
    max-width: 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      background: linear-gradient(180deg, rgba(39, 54, 75, 0) 0%, #27364B 100%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
    }

    source,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 11px 20px;
    position: absolute;
    z-index: 1;
    width: 260px;
    height: 96px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1330px) {
      padding: 5px 10px;
      width: 200px;
      height: 70px;
      bottom: 10px;
    }
    @media (max-width: 990px) {
      width: 100%;
      bottom: 0;
    }

    &:after {
      content: '';
      position: absolute;
      background: rgba(86, 149, 203, 0.2);
      backdrop-filter: blur(5px);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &__year {
    font-weight: 900;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-color);
    position: absolute;
    top: -25px;
    left: 0;

    @media (max-width: 1330px) {
      font-size: 20px;
      top: -20px;
    }

    @media (max-width: 990px) {
      left: 10px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    /*Ограничение по кол-ву строк*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 1330px) {
      font-size: 12px;
    }
    @media (max-width: 767px) {
      font-size: 11px;
      line-height: 140%;
      -webkit-line-clamp: 4;
    }
  }
}

//---------------------------- end Stages -------------------------------
