.post {
  background-color: var(--light-color);
  padding-bottom: 60px;

  @media (max-width: 1330px) {
    padding-bottom: 40px;
  }

  &__inner {

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__content {
    width: 50%;
    margin-right: 30px;

    @media (max-width: 1330px) {
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      margin-right: 0;
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--text-color-dark);
    margin-bottom: 14px;

    @media (max-width: 1330px) {
      margin-bottom: 10px;
    }
    @media (max-width: 767px) {
      margin-bottom: 11px;
    }
  }

  &__text {
    margin-bottom: 19px;

    @media (max-width: 1330px) {
      margin-bottom: 12px;
    }
    @media (max-width: 1330px) {
      margin-bottom: 16px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: var(--text-color-dark);
      margin-bottom: 25px;

      @media (max-width: 1330px) {
        margin-bottom: 20px;
      }
      @media (max-width: 1330px) {
        margin-bottom: 15px;
      }
    }
  }

  &__time {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #A8A9AA;
    margin-bottom: 25px;

    @media (max-width: 1330px) {
      font-size: 9px;
      margin-bottom: 9px;
    }
    @media (max-width: 767px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__gallery {
    width: 50%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__slider {
    margin-bottom: 10px;

    @media (max-width: 525px) {
      margin: 0 -20px 10px -20px;
    }

    img, source {
      width: 100%;
      height: 460px;
      object-fit: cover;

      @media (max-width: 1330px) {
        width: 100%;
        height: 344px;
      }
      @media (max-width: 525px) {
        width: 100%;
        height: 240px;
      }
    }
  }

  &__slider-thumbs {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .swiper-slide {
      margin-bottom: 10px;

      @media (max-width: 525px) {
        margin-bottom: 8px;
      }
    }

    img, source {
      width: 100%;
      height: 86px;
      object-fit: cover;

      @media (max-width: 1330px) {
        height: 62px;
      }
      @media (max-width: 525px) {
        height: 47px;
      }
    }

    .swiper-slide-thumb-active {
      .swiper-slide__image {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-color: var(--secondary-color);
          opacity: 0.5;
          z-index: 2;
        }
        &:before{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          outline: 3px solid var(--secondary-color);
          outline-offset: -3px;
          z-index: 3;

          @media (max-width: 1330px) {
            outline: 2px solid var(--secondary-color);
            outline-offset: -2px;
          }
        }
      }


    }

  }


}


