.main-title-dark {
  padding: 0 0 16px;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 990px) {
    flex-direction: column;
  }

  &__item {
    display: none;
    width: 960px;
    background: #FFFFFF;

    @media (max-width: 1330px) {
      width: 700px;
    }
    @media (max-width: 990px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      margin: 0 -20px;
      width: calc(100% + 40px);
    }

    &.is-active {
      display: block;
    }
  }
}

.logistics {
  background-color: #F7F8F9;
  padding-bottom: 60px;

  @media screen and (max-aspect-ratio: 16/9) and (max-width: 1330px) {
    min-height: calc(100vh - 90px);
  }


  @media (max-width: 1330px) {
    padding-bottom: 40px;
  }

  &__inner {
    @media (max-width: 990px) {
      width: 100%;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;

    @media (max-width: 990px) {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  &__tabs-btn {
    width: 300px;
    padding: 14px 20px;
    background: #FFFFFF;
    border: none;
    border-bottom: 1px solid #E4E5E6;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #262728;

    @media (max-width: 1330px) {
      width: 220px;
      padding: 7px 10px;
      font-size: 12px;
    }
    @media (max-width: 990px) {
      width: 100%;
    }

    &:first-child {
      border-top: 1px solid #E4E5E6;
    }

    &.is-active {
      background: #5695CB;
      color: #FFFFFF;
    }
  }

  &__point {
    padding: 25px 30px 24px;

    @media (max-width: 1330px) {
      padding: 16px 20px 20px;
    }

    &-title {
      font-weight: 900;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #262728;

      @media (max-width: 1330px) {
        font-size: 12px;
      }
      @media (max-width: 1330px) {
        font-size: 11px;
      }
    }

    &-header {
      padding-bottom: 14px;
      border-bottom: 1px solid #E4E5E6;
      margin-bottom: 14px;

      @media (max-width: 1330px) {
        padding-bottom: 5px;
        margin-bottom: 16px;
      }
      @media (max-width: 1330px) {
        padding-bottom: 6px;
      }
    }

    &-box {
      margin-bottom: 29px;

      @media (max-width: 1330px) {
        margin-bottom: 15px;
      }
      @media (max-width: 767px) {
        margin-bottom: 12px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-subtitle {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #262728;
      margin-bottom: 20px;

      @media (max-width: 1330px) {
        font-size: 12px;
        margin-bottom: 7px;
      }
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }

    &-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #262728;

      @media (max-width: 1330px) {
        font-size: 12px;
      }
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }
  }

  &__rates {
    padding: 25px 30px 30px;

    @media (max-width: 1330px) {
      padding: 16px 20px 20px;
    }

    &-heading {
      margin-bottom: 20px;
    }

    &-header {
      display: flex;

      @media (max-width: 767px) {
        display: none;
      }

      & > div {
        background: #5695CB;
        box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.2);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 110%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;

        @media (max-width: 1330px) {
          height: 30px;
          font-size: 12px;
        }
      }
    }

    &-item {
      display: flex;
      background: #FFFFFF;
      box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.07);

      @media (max-width: 767px) {
        flex-direction: column;
        outline: 1px solid #E4E5E6;
        padding: 6px 10px;
      }

      &:nth-child(odd) {
        background: #F5F6F7;
        box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.07);
      }

      & > div {
        font-weight: 400;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: 0.02em;
        color: #262728;
      }

      .logistics__rates-back {
        padding: 9px 10px 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.07);

        @media (max-width: 767px) {
          padding: 0 0 8px 0;
          box-shadow: none;
          align-items: flex-start;

          p {
            display: contents;
            line-height: 140%;
          }

          &:before {
            content: 'Город отправления:';
            font-weight: 700;
            white-space: nowrap;
            display: contents;
          }
        }
      }

      .logistics__rates-forward {
        padding: 9px 10px 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.07);

        @media (max-width: 767px) {
          padding: 0 0 8px 0;
          box-shadow: none;
          align-items: flex-start;

          p {
            display: contents;
            line-height: 140%;
          }

          &:before {
            content: 'Город назначения:';
            font-weight: 700;
            white-space: nowrap;
            display: contents;
          }
        }
      }

      .logistics__rates-weight {
        padding: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.07);

        @media (max-width: 1330px) {
          padding: 2px 5px;
        }
        @media (max-width: 767px) {
          padding: 0 0 8px 0;
          justify-content: flex-start;
          align-items: flex-start;
          box-shadow: none;

          p {
            display: contents;
            line-height: 140%;
          }

          &:before {
            content: 'Вес:';
            font-weight: 700;
            white-space: nowrap;
            display: contents;
          }
        }
      }

      .logistics__rates-calculation {
        padding: 9px 10px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media (max-width: 767px) {
          padding: 0;
          justify-content: flex-start;
          align-items: flex-start;
          box-shadow: none;
          text-align: left;

          p {
            display: contents;
            line-height: 140%;
          }

          &:before {
            content: 'Безнал. расчет без НДС руб.:';
            font-weight: 700;
            white-space: nowrap;
            display: contents;
          }
        }
      }

    }

    &-title {
      font-weight: 900;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #262728;
      padding-bottom: 14px;
      border-bottom: 1px solid #E4E5E6;

      @media (max-width: 1330px) {
        font-size: 12px;
        padding-bottom: 5px;
      }
      @media (max-width: 767px) {
        font-size: 11px;
      }
    }

    &-back {
      width: 200px;

      @media (max-width: 1330px) {
        width: 160px;
      }
      @media (max-width: 990px) {
        width: 24.24%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &-forward {
      width: 463px;

      @media (max-width: 1330px) {
        width: 288px;
      }
      @media (max-width: 990px) {
        width: 43.64%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &-weight {
      width: 100px;

      @media (max-width: 1330px) {
        width: 82px;
      }
      @media (max-width: 990px) {
        width: 12.42%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &-calculation {
      width: 140px;
      padding: 0 8px;

      @media (max-width: 1330px) {
        width: 130px;
      }
      @media (max-width: 990px) {
        width: 19.7%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    &-row {
      position: relative;

      @media (max-width: 990px) {
        width: 50%;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      @media (max-width: 767px) {
        width: 100%;

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    &-input {
      width: 435px;
      height: 50px;
      background: #F5F6F7;
      border: 1px solid #E4E5E6;
      border-radius: 3px;
      padding: 14px 20px;
      outline: none;
      cursor: pointer;
      user-select: none;

      @media (max-width: 1330px) {
        width: 320px;
        font-size: 12px;
        padding: 7px 10px;
        height: 30px;
      }
      @media (max-width: 990px) {
        width: 100%;
      }
      @media (max-width: 767px) {
        font-size: 11px;
      }


      &.active ~ .logistics__rates-list {
        display: block;
      }

      &.active ~ .logistics__rates-acc svg {
        transform: rotate(0deg);
      }
    }

    &-list {
      position: absolute;
      top: 47px;
      left: 0px;
      border-radius: 3px;
      z-index: 1;
      background: #FFFFFF;
      width: 100%;
      border: 1px solid #E4E5E6;
      display: none;

      @media (max-width: 1330px) {
        top: 30px;
      }

      li {
        padding: 9px 20px;
        list-style: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        transition: all 0.3s ease;
        white-space: nowrap;
        user-select: none;
        cursor: pointer;
        border-bottom: 1px solid #E4E5E6;

        @media (max-width: 1330px) {
          padding: 7px 10px;
          font-size: 12px;
        }
        @media (max-width: 767px) {
          padding: 7px 10px;
          font-size: 11px;
        }

        &:last-child {
          border-bottom: none;
        }

        &.active {
          background: #F5F6F7;
        }

        &:hover {
          background: #F5F6F7;
        }
      }
    }

    &-acc {
      position: absolute;
      top: 17px;
      right: 20px;

      @media (max-width: 1330px) {
        top: 4px;
        right: 10px;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__calс {

    &-header {
      padding-bottom: 20px;
      position: relative;

      @media (max-width: 1330px) {
        padding-bottom: 10px;
      }

      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        width: 100%;
        height: 20px;
        background: var(--light-color);

        @media (max-width: 1330px) {
          height: 10px;
        }
      }
    }

    &-title {
      padding: 20px 30px 18px 30px;
      font-weight: 900;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #262728;

      @media (max-width: 1330px) {
        font-size: 12px;
        padding: 16px 20px 15px 20px;
      }
    }

    &-box {
      background: #fff;
      padding: 30px;

      @media (max-width: 1330px) {
        padding: 20px;
      }
    }

    &-name {
      padding: 14px 20px 14px 27px;
      background: #F5F6F7;
      border: 1px solid #E4E5E6;
      border-radius: 3px;
      cursor: pointer;
      position: relative;

      @media (max-width: 1330px) {
        padding: 7px 10px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #262728;

        @media (max-width: 1330px) {
          font-size: 12px;
        }
      }
    }

    &-option {
      width: 435px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 25px auto;
      flex-direction: column;

      @media (max-width: 1330px) {
        width: 350px;
        margin: 16px auto;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &-point {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding-bottom: 4px;
      border-bottom: 1px dashed #E4E5E6;
      margin-bottom: 12px;

      @media (max-width: 1330px) {
        padding-bottom: 5px;
        margin-bottom: 16px;
      }
      @media (max-width: 767px) {
        padding-bottom: 6px;
        margin-bottom: 7px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #262728;

        @media (max-width: 1330px) {
          font-size: 12px;
        }
        @media (max-width: 767px) {
          font-size: 11px;
        }
      }

      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        text-align: right;
        letter-spacing: 0.02em;
        color: #262728;

        @media (max-width: 1330px) {
          font-size: 12px;
        }
        @media (max-width: 767px) {
          font-size: 11px;
        }
      }
    }

    &-input {
      width: 96px;
      height: 40px;
      background: #F8F9FA;
      border: none;
      border-top: 1px solid #E4E5E6;
      border-bottom: 1px solid #E4E5E6;
      outline: none;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #262728;

      @media (max-width: 1330px) {
        width: 84px;
        height: 30px;
        font-size: 12px;
      }
      @media (max-width: 990px) {
        width: 100%;
      }
    }

    &-label {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #262728;
      margin-bottom: 4px;

      @media (max-width: 1330px){
        font-size: 12px;
      }
      @media (max-width: 767px){
        font-size: 11px;
        margin-bottom: 6px;
      }
    }

    &-content {
      display: flex;
      align-items: center;

      @media (max-width: 767px){
        width: 100%;
      }

      .btn-count {
        width: 30px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #E4E5E6;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1330px) {
          width: 20px;
          height: 30px;
        }
        @media (max-width: 990px) {
          padding: 0 4px;
        }
        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
        }
      }

      .btn-minus {
        border-radius: 3px 0px 0px 3px;
      }

      .btn-plus {
        border-radius: 3px 0px 0px 3px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }

    &-holder {
      width: 156px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 30px;

      @media (max-width: 1330px) {
        width: 124px;
        margin-right: 10px;
      }
      @media (max-width: 990px) {
        width: 20%;
      }
      @media (max-width: 767px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 17px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 767px) {
        flex-direction: column;
        padding: 0 20px;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 32px;

      @media (max-width: 767px) {
        margin-top: 0;
        align-items: center;
      }
    }

    &-desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #262728;

      @media (max-width: 1330px) {
        font-size: 12px;
      }
      @media (max-width: 767px) {
        font-size: 11px;
        text-align: center;
      }
    }

    &-price {
      font-weight: 700;
      font-size: 26px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #262728;
      margin-top: 5px;

      @media (max-width: 1330px) {
        font-size: 20px;
        margin-top: 0;
      }
      @media (max-width: 767px) {
        font-size: 14px;
        text-align: center;
      }
    }

    &-btn {
      width: 164px;
      height: 50px;
      border: none;
      background: #5695CB;
      box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      font-weight: 900;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFFFFF;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      margin-top: 34px;

      @media (max-width: 1330px) {
        margin-top: 12px;
        width: 103px;
        height: 30px;
        font-size: 12px;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &-acc {
      max-height: 0;
      overflow: hidden;
    }

    &-item {
      margin-bottom: 20px;

      &.active .logistics__calс-acc {
        max-height: fit-content;
        overflow: visible;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


}