.preview-single {
  position: relative;

  .back-to-list .container{
    margin-left: -20px;
  }

  .preview-single__content {
    height: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    @media (max-width: 1330px) {
      font-size: 26px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}