.post {
  background-color: var(--light-color);
  padding-bottom: 60px;

  @media (max-width: 1330px) {
    padding-bottom: 40px;
  }

  &__inner {

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__content {
    width: 50%;
    margin-right: 30px;

    @media (max-width: 1330px) {
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      margin-right: 0;
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--text-color-dark);
    margin-bottom: 14px;

    @media (max-width: 1330px) {
      margin-bottom: 10px;
    }
    @media (max-width: 767px) {
      margin-bottom: 11px;
    }
  }

  &__text {
    margin-bottom: 19px;

    @media (max-width: 1330px) {
      margin-bottom: 12px;
    }
    @media (max-width: 767px) {
      margin-bottom: 16px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: var(--text-color-dark);
      margin-bottom: 25px;

      @media (max-width: 1330px) {
        margin-bottom: 20px;
        font-size: 12px;
      }
      @media (max-width: 767px) {
        margin-bottom: 15px;
        font-size: 11px;
      }
    }
  }

  &__time {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #A8A9AA;
    margin-bottom: 25px;

    @media (max-width: 1330px) {
      font-size: 9px;
      margin-bottom: 9px;
    }
    @media (max-width: 767px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__gallery {
    width: 50%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__slider {
    margin-bottom: 10px;

    @media (max-width: 525px) {
      margin: 0 -20px 10px -20px;
    }

    img, source {
      width: 100%;
      height: 460px;
      object-fit: cover;

      @media (max-width: 1330px) {
        width: 100%;
        height: 344px;
      }
      @media (max-width: 525px) {
        width: 100%;
        height: 240px;
      }
    }
  }

  &__slider-thumbs {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .swiper-slide {
      cursor: pointer;
      margin-bottom: 10px;

      @media (max-width: 525px) {
        margin-bottom: 8px;
      }

      &:last-child {
        .swiper-slide__image {
          position: relative;

          &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #000000;
            opacity: 0.5;
          }

          &:before {
            position: absolute;
            content: '';
            width: 38px;
            height: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='40' viewBox='0 0 38 40' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.73582 0.459951L35.2196 16.3856C37.1422 17.4242 37.8899 19.8841 36.8895 21.88C36.5175 22.6221 35.9344 23.2274 35.2196 23.6136L5.73582 39.5392C3.81313 40.5777 1.44349 39.8016 0.443069 37.8057C0.15198 37.2249 0 36.5799 0 35.9252V4.07392C0 1.82396 1.75701 0 3.92439 0C4.46494 0 4.99866 0.115913 5.49242 0.339326L5.73582 0.459951Z' fill='white'/%3e%3c/svg%3e ");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            outline: none;
            z-index: 3;
            opacity: .8;

            @media (max-width: 1330px) {
              width: 26px;
              height: 28px;
            }
            @media (max-width: 525px) {
              width: 20px;
              height: 22px;
            }
          }
        }


      }
    }

    img, source {
      width: 100%;
      height: 86px;
      object-fit: cover;

      @media (max-width: 1330px) {
        height: 62px;
      }
      @media (max-width: 525px) {
        height: 47px;
      }
    }

    .swiper-slide-thumb-active {
      .swiper-slide__image {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-color: var(--secondary-color);
          opacity: 0.5;
          z-index: 2;
        }

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          outline: 3px solid var(--secondary-color);
          outline-offset: -3px;
          z-index: 3;

          @media (max-width: 1330px) {
            outline: 2px solid var(--secondary-color);
            outline-offset: -2px;
          }
        }
      }
    }
  }
}





