.logo {
  width: 230px;
  height: 80px;

  @media (max-width: 1330px) {
    width: 144px;
    height: 50px;
  }

  @media (max-width: 767px) {
    width: 127px;
    height: 44px;
  }
  @media (max-width: 375px) {
    width: 97px;
    height: 44px;
  }
}

//---------------------------- header__icons -------------------------------
.header__icons {
  .header__icon svg {
    fill: var(--text-color-dark);
    width: 40px;
    height: 40px;
    padding: 5px;

    @media (max-width: 1330px) {
      width: 34px;
      height: 34px;
    }

    @media (max-width: 990px) {
      width: 30px;
      height: 30px;
    }
  }

  .header__telegram svg {
    width: 43px;
    height: 43px;

    @media (max-width: 1330px) {
      width: 36px;
      height: 36px;
    }

    @media (max-width: 990px) {
      width: 32px;
      height: 32px;
    }

  }
}

.header-home {
  .header__icons {
    .header__icon svg {
      fill: var(--text-color-light);
    }
  }
}

.mobile-menu__close,
.popup-video__close {
  display: flex;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1001;

  svg {
    fill: #fff;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}

//---------------------------- end header__icons -------------------------------
//---------------------------- News-arrows -------------------------------
.news__prev,
.news__next {
  width: 40px;
  height: 56px;
  fill: var(--primary-color);
  padding: 5px;
  cursor: pointer;

  @media (max-width: 1330px) {
    width: 30px;
    height: 45px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

//---------------------------- end News-arrows -------------------------------
// ---------------------------- Reviews-arrows -------------------------------
.personnel__prev-1,
.personnel__next-1,
.personnel__prev-2,
.personnel__next-2,
.personnel__prev-3,
.personnel__next-3,
.personnel__prev-4,
.personnel__next-4,
.reviews__prev,
.reviews__next {
  width: 40px;
  height: 56px;
  fill: var(--secondary-color);
  padding: 5px;
  cursor: pointer;

  @media (max-width: 1330px) {
    width: 30px;
    height: 45px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

//---------------------------- end Reviews-arrows -------------------------------
// ---------------------------- Company-history-arrows -------------------------------
.people__prev,
.people__next {
  width: 40px;
  height: 56px;
  fill: #fff;
  padding: 5px;
  cursor: pointer;

  @media (max-width: 1330px) {
    width: 30px;
    height: 40px;
  }

  @media (max-width: 767px) {
    width: 20px;
    height: 26px;
  }
}

//---------------------------- end Company-history-arrows -------------------------------
//---------------------------- Read more -------------------------------
.read__more {
  width: 25px;
  height: 16px;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 1330px) {
    width: 18.35px;
    height: 12px;
    right: -18.35px;
  }

  @media (max-width: 767px) {
    width: 15.29px;
    height: 10px;
    right: -15.29px;
  }
}

//---------------------------- end Read more -------------------------------
// ---------------------------- Contacts icons -------------------------------
.contacts__location {
  width: 16px;
  height: 20px;
  fill: #262728;

  @media (max-width: 1330px) {
    width: 12px;
    height: 16px;
  }

  &-address {
    fill: var(--secondary-color);
  }
}

.contacts__phone {
  width: 20px;
  height: 20px;
  fill: #262728;

  @media (max-width: 1330px) {
    width: 12px;
    height: 16px;
  }

  &-address {
    fill: var(--secondary-color);
  }
}

.contacts__email {
  width: 20px;
  height: 16px;
  fill: #262728;

  @media (max-width: 1330px) {
    width: 12px;
    height: 16px;
  }

  &-address {
    fill: var(--secondary-color);
  }
}


//---------------------------- end Contacts icons -------------------------------

// ---------------------------- Today icons -------------------------------
.about__1,
.about__2,
.about__3,
.about__4,
.about__6 {
  width: 40px;
  height: 40px;
  fill: var(--secondary-color);

  @media (max-width: 1330px) {
    width: 30px;
    height: 30px;
  }
}

.about__5 {
  width: 30px;
  height: 40px;
  fill: var(--secondary-color);

  @media (max-width: 1330px) {
    width: 23px;
    height: 30px;
  }
}

// ---------------------------- end Today icons -------------------------------
// ---------------------------- Pagination arrows -------------------------------
.pagination__prev,
.pagination__next {
  width: 20px;
  height: 26px;
  padding: 5px;
  fill: var(--text-color-dark);

  @media (max-width: 1330px) {
    width: 18px;
    height: 22px;
  }
}

// ---------------------------- eng Pagination arrows -------------------------------

.input-file__icon,
.upload-file__icon {
  width: 23px;
  height: 30px;
  fill: var(--secondary-color);
}

// ---------------------------- Catalog filter -------------------------------
.catalog-filter-table,
.catalog-filter-line {
  width: 30px;
  height: 30px;
  fill: var(--gray-color);
  padding: 5px;

  @media (max-width: 1330px) {
    width: 26px;
    height: 26px;
  }
}

.catalog-item__button-basket {
  width: 14px;
  height: 15px;
  fill: var(--secondary-color);
}

// ---------------------------- end Catalog filter -------------------------------
// ---------------------------- Single-card -------------------------------
.availability-icon-have,
.availability-icon-notHave {
  width: 24px;
  height: 24px;

  @media (max-width: 1330px) {
    width: 16px;
    height: 16px;
  }
}

.icon-btn-minus {
  width: 14px;
  height: 2px;

  @media (max-width: 1330px) {
    width: 12px;
    height: 2px;
  }
}

.icon-btn-plus {
  width: 14px;
  height: 14px;

  @media (max-width: 1330px) {
    width: 12px;
    height: 12px;
  }
}


.single-card__prev,
.single-card__next {
  width: 23px;
  height: 30px;
  fill: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  cursor: pointer;


  @media (max-width: 525px) {
    display: none;
  }
}
.single-card__zoom{
  width: 40px;
  height: 40px;
}

.similar-products-prev svg,
.similar-products-next svg{
  width: 13px;
  height: 20px;
  fill: var(--text-color-dark);

  @media (max-width: 1330px) {
    width: 10px;
    height: 15px;
  }
}

// ---------------------------- end Single-card -------------------------------

.icon.accordion {
  width: 12px;
  height: 18px;
  transition: all .3s ease;

  @media (max-width: 1330px) {
    width: 8px;
    height: 12px;
  }
}

.icon-delete{
  width: 13px;
  height: 16px;

  @media (max-width: 1330px) {
    width: 10px;
    height: 12px;
  }
}
